@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
*,
*::before,
*::after,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

ul {
  list-style-type: none;
}

.hidden {
  display: none;
}

.transform {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.light-mode {
  color: #111517;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.light-mode header,
.light-mode input,
.light-mode #continents,
.light-mode .box,
.light-mode .each,
.light-mode .back,
.light-mode .borders {
  color: #111517;
  background-color: white;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.light-mode main {
  background-color: #fafafa;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.light-mode .ionicon path,
.light-mode .error {
  fill: none;
  stroke: #111517;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.light-mode input::-webkit-input-placeholder {
  color: #111517;
}

.light-mode input:-ms-input-placeholder {
  color: #111517;
}

.light-mode input::-ms-input-placeholder {
  color: #111517;
}

.light-mode input::placeholder {
  color: #111517;
}

.light-mode .ionicon_one path {
  color: #111517;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.light-mode .each li:hover {
  background-color: #fafafa;
}

.dark-mode {
  color: white;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.dark-mode header,
.dark-mode input,
.dark-mode #continents,
.dark-mode .box,
.dark-mode .each,
.dark-mode .back,
.dark-mode .borders {
  background-color: #2b3945;
  color: white;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.dark-mode main {
  background-color: #202c37;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.dark-mode .ionicon path,
.dark-mode .error {
  fill: white;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.dark-mode input::-webkit-input-placeholder {
  color: white;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.dark-mode input:-ms-input-placeholder {
  color: white;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.dark-mode input::-ms-input-placeholder {
  color: white;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.dark-mode input::placeholder {
  color: white;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.dark-mode .ionicon_one path {
  color: white;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.dark-mode .each li:hover {
  background-color: #202c37;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-shadow: inset 0px -0.6px 5px rgba(0, 0, 0, 0.082);
          box-shadow: inset 0px -0.6px 5px rgba(0, 0, 0, 0.082);
}

.mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}

.mode span {
  font-weight: 600;
}

svg {
  margin-right: 10px;
  width: 15px;
}

.heading {
  margin-left: 20px;
  font-weight: 800;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 20px;
}

.country {
  position: relative;
}

input {
  margin: 33px 0;
  outline: none;
  padding: 12px;
  padding-left: 50px;
  padding-right: 50px;
  width: 330px;
  border: none;
  -webkit-box-shadow: 0.6px 0.6px 5px rgba(0, 0, 0, 0.205);
          box-shadow: 0.6px 0.6px 5px rgba(0, 0, 0, 0.205);
  border-radius: 5px;
}

input::-webkit-input-placeholder {
  font-size: 0.8rem;
}

input:-ms-input-placeholder {
  font-size: 0.8rem;
}

input::-ms-input-placeholder {
  font-size: 0.8rem;
}

input::placeholder {
  font-size: 0.8rem;
}

.ionicon_one {
  position: absolute;
  top: 44px;
  bottom: 0;
  left: 13px;
  right: 0;
  width: 15px;
  height: 15px;
}

.ionicon__five {
  position: absolute;
  top: 46px;
  right: 3px;
  cursor: pointer;
}

.ul_select {
  position: relative;
}

#continents {
  outline: none;
  border: none;
  font-weight: 800;
  cursor: pointer;
}

#continents,
.each {
  -webkit-box-shadow: 0.6px 0.6px 5px rgba(0, 0, 0, 0.205);
          box-shadow: 0.6px 0.6px 5px rgba(0, 0, 0, 0.205);
  width: 165px;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 13px;
}

.ionicon__three {
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  position: absolute;
  right: 0;
  top: 15px;
  cursor: pointer;
}

.each {
  z-index: 2;
  background-color: white;
  position: absolute;
  top: 50px;
  font-weight: 600;
}

.each li {
  padding: 5px;
  cursor: pointer;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 360px;
}

.box {
  width: 300px;
  height: 330px;
  max-height: 370px;
  border-radius: 7px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  -webkit-box-shadow: 0.6px 0.6px 5px rgba(0, 0, 0, 0.164);
          box-shadow: 0.6px 0.6px 5px rgba(0, 0, 0, 0.164);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 600ms ease;
  transition: -webkit-transform 600ms ease;
  transition: transform 600ms ease;
  transition: transform 600ms ease, -webkit-transform 600ms ease;
  cursor: pointer;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 30px;
}

span {
  font-weight: 300;
}

h1 {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  width: 300px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #2b3945;
}

::-webkit-scrollbar-thumb {
  height: 120px;
  background-color: white;
  border-radius: 10px;
}

.box:hover {
  -webkit-transform: translate3D(0, -1px, 0) scale(1.05);
          transform: translate3D(0, -1px, 0) scale(1.05);
  -webkit-transition: -webkit-transform 600ms ease;
  transition: -webkit-transform 600ms ease;
  transition: transform 600ms ease;
  transition: transform 600ms ease, -webkit-transform 600ms ease;
}

.ionicon__four {
  position: absolute;
  left: 15px;
  top: 10px;
}

.back {
  padding: 8px;
  -webkit-box-shadow: 0.6px 0.6px 5px rgba(0, 0, 0, 0.164);
          box-shadow: 0.6px 0.6px 5px rgba(0, 0, 0, 0.164);
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 60px;
  border: none;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.back:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-bottom: 100px;
}

.second {
  margin-top: 30px;
}

h2 {
  font-size: 1.3rem;
  margin: 10px 0;
  margin-top: 25px;
}

.div {
  font-weight: 600;
  margin-bottom: 7px;
  font-size: 0.9rem;
}

.flexbox_one {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description_img {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.error {
  text-align: center;
  margin-top: 165px;
  font-weight: 600;
  font-size: 1.7rem;
}

.border_div {
  margin-top: 50px;
}

.border_el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.borders {
  padding: 10px;
  -webkit-box-shadow: 0.6px 0.6px 5px rgba(0, 0, 0, 0.164);
          box-shadow: 0.6px 0.6px 5px rgba(0, 0, 0, 0.164);
  margin: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  margin-left: 0;
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

.borders:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

@media (min-width: 1024px) {
  .inputs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 67px;
    margin-left: 67px;
  }
  input {
    width: 360px;
  }
  .heading {
    margin-left: 67px;
  }
  .mode {
    margin-right: 67px;
  }
  .flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flexbox h2 {
    margin-top: 0;
  }
  .flexbox img {
    width: 50%;
    height: 100%;
  }
  .flexbox_one {
    width: 90%;
  }
  .flex {
    height: 120vh;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .complete {
    margin-left: 50px;
    width: 50%;
  }
  .flex_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .second {
    margin-left: 50px;
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */